@model MovieMadness.Model.Actor

<h2>@ViewBag.Message</h2>

<form method="post">
    <div class="well">
        <h4>@Html.LabelFor(x => x.Name): @Html.TextBoxFor(x => x.Name)</h4>

        @Html.HiddenFor(x => x.MovieId)
        @Html.HiddenFor(x => x.ActorId)
        <button class="btn btn-default">Submit</button>
    </div>
</form>
<link href="~/Content/superhero.bootstrap.css" rel="stylesheet" />